@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

*{
    position: relative;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', '黑體-繁', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}
*::before,
*::after{
    margin: 0;
    padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: inline-block;
}

button{
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}