@import "../../styles/colors";

.header {
  background: $bg-white;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.15);
  .wrapper{
    display: flex;
    justify-content: space-between;
    .group_left{
      display: flex;
      justify-content: center;
      align-items: center;
      .logo{
        margin: 1em;
        margin-left: 0;
        width: 40px;
        height: 40px;
      }
      .title{
        font-family: 'Architects Daughter', cursive;
        font-size: 20px;
        color: $black;
        span{
          font-family: 'Architects Daughter', cursive;
        }
      }
    }
    .group_right{
      display: flex;
      justify-content: center;
      align-items: center;
      .iconGroup{
        a {
          color: black;
        }
      }
      .avatar{
        margin: 1rem;
        margin-right: 0;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        transition: transform 0.5s;
  
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  .custom-icon {
    i {
      transition: background 1s cubic-bezier(0.22, 0.61, 0.36, 1);
      background: $regal-blue;
      border-radius: 50%;
    }

    &:hover {
      border-radius: 50%;

      i {
        background: $light-blue;
      }
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {

  }

  // For Tablet
  @media (min-width: 768px) {
    
  }

  // For PC
  @media (min-width: 992px) {

  }

  @media (min-width: 768px) and (max-width: 991.98px) {

  }
}
