@import "../../styles/util";
@import "../../styles/colors";

.navWrapper{
    background: $bg-black;
}
.navGroup{
    display: flex;
    padding: 10px 0;
    .nav-btn{
        color: $white;
    }
    .tintSpectrum{
        padding-left: 22px;
        border-left: 1px solid white;
        height: 32px;
    }
}